{% for user in users %}
<li class="col-xs-4 col-lg-2" >
    <a href="{{ path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }}" alt="{{ user.username }}"  title="{{ user.username }}">
        {% if user.profilePhoto %}
            <img class="lazy img-responsive" data-original="{{ user | userProfilePhotoUrl("medium") }}" height="250px">
        {% else %}
        	{% include "ApiSocialBundle:User:Common/_render_photo_profile_anonymous.html.twig" with {"style": "max-width: 70%"} %}            
        {% endif %}
        <div class="tags hidden-xs">
        <span class="label-holder">
            <span class="label label-info arrowed"><strong><i class="fa fa-user"></i> {{ user.username }}</strong></span>
        </span>
            {% if user.city %}
                {% if user.city.name != 'no_city' %}
                    <span class="label-holder">
                <span class="label label-danger"><i class="fa fa-map-marker"></i> {{ user.city.name }}</span>
            </span>
                {% else %}
                    <span class="label-holder">
                    <span class="label label-danger"><i class="fa fa-map-marker"></i> {{ user.city.country }}</span>
                </span>
                {% endif %}
            {% endif %}

        </div>
    </a>
</li>
{% endfor %}