{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block head_meta_description %}{% include 'ApiSocialBundle:User:meta/index/description.html.twig'  %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:User:meta/index/keywords.html.twig' %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:User:meta/index/title.html.twig' %}{% endblock %}

{% block head_meta_rel_canonical %}<link rel="canonical" href="{{ url('ant_user_user_users') }}"/>{% endblock %}

{% block chatea_title %}{{ "user.users" | trans }}{% endblock %}

{% block chatea_css %}
    {% stylesheets 
            "@ApiSocialBundle/Resources/public/css/custom.css" 
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock chatea_css %}


{% block chatea_body %}

	{% include "ApiSocialBundle:User:Outstander/_list_users_outstanding.html.twig" %}
	
    <br style="clear:both;" />

    <h2>{{ "user.users" | trans }}</h2>
{#     {% include "ApiSocialBundle:User:List/_render_list_users_customized.html.twig" with {'users' : users} %}#}
    <div class="row-fluid">
        <ul class="ace-thumbnails" data-behat="items-user">
			{% include "ApiSocialBundle:User:List/_render_list_users.html.twig" with {'users' : users} %}
        </ul>
    </div>

    <br style="clear:both;" />

    {% include 'ApiSocialBundle:Common:pagination.html.twig' with {'pager': users, 'route': 'ant_user_user_users.page', 'routeIndex': 'ant_user_user_users'} %}
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% javascripts
    '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ApiSocialBundle:Common:lazyload.html.twig" %}
{% endblock %}