{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block head_meta_description %}{% include 'ApiSocialBundle:User:meta/index/description.html.twig'  %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:User:meta/index/keywords.html.twig' %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:User:meta/index/title.html.twig' %}{% endblock %}

{% block head_meta_rel_canonical %}<link rel="canonical" href="{{ url('ant_user_user_users') }}"/>{% endblock %}

{% block chatea_title %}{{ "user.users" | trans }}{% endblock %}

{% block chatea_css %}
    {% stylesheets 
            "@ApiSocialBundle/Resources/public/css/custom.css" 
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock chatea_css %}


{% block chatea_body %}

	{% include "ApiSocialBundle:User:Outstander/_list_users_outstanding.html.twig" %}
	<div class="row">
		<h2 class="text-center">{{ 'form.members_search.placeholder' | trans }}</h2>
		<div class="col-xs-12 col-sm-4">
			<h4 class="text-center">{{ 'user.search.particular' | trans({}, 'User') }}</h4>
		    {% include 'ApiSocialBundle:Common:form_search.html.twig'
		        with {'search': search , 'enable_buton_clean' : true, 'search_placeholder': 'form.members_search.placeholder'}
		    %}
    	</div>
		<div class="col-sm-8 col-xs-12">
			<h4 class="text-center">{{ 'user.search.advanced' | trans({}, 'User') }}</h4>
{#		    {{ render(controller('ApiSocialBundle:User:renderAdvancedSearch', {'options': advancedSearch})) }}#}
		    {{ render(controller('ApiSocialBundle:User:renderAdvancedNetworkingSearch', {'options': advancedSearch})) }}
		</div>
	</div>
	
    <br style="clear:both;" />

    <h1>{{ "user.users" | trans }}</h2>
    <div class="row-fluid">
        <ul class="ace-thumbnails" data-behat="items-user">
			{% include "ApiSocialBundle:User:List/_render_list_users.html.twig" with {'users' : users} %}
        </ul>
    </div>

    <br style="clear:both;" />

    {% if search is not empty or advancedSearch is not empty %}
        {% include 'ApiSocialBundle:Common:pagination.html.twig' with {'pager': users, 'route': 'ant_user_user_users.page', 'routeIndex': 'ant_user_user_users','routeParams':{'search':search, 'advanced_search': advancedSearch }} %}
    {% else %}
        {% include 'ApiSocialBundle:Common:pagination.html.twig' with {'pager': users, 'route': 'ant_user_user_users.page', 'routeIndex': 'ant_user_user_users' } %}
    {% endif %}

	<!--adsense-->
		{{ render(controller('ApiSocialBundle:Util:generateBlockAdsense')) }}
	<!--end adsense-->
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% javascripts
        '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
        '@ApiSocialBundle/Resources/public/js/search-members.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ApiSocialBundle:Common:lazyload.html.twig" %}
    <script>
        $( document ).ready(function() {
            initSearchBox("{{ path('ant_user_user_users') }}");
        });
    </script>
{% endblock %}