<div class="col-xs-12 clearfix" style="margin-bottom:15px;">
    {% if channels|length < limit %}
        {% set limit = channels|length %}
    {% endif %}
    {% if channels|length > 0 %}
        {% for i in 0 .. limit %}
            <span class="type-off">
            <a href="{{ path('channel_show', {'slug': channels[i].slug})}}" title="{{ 'channels.enter_chat_of' | trans({'%name%': channels[i].name}, 'Channels') }}"> &nbsp; {{ channels[i].name }}
            </a>
        </span>
        {% endfor %}
    {% endif %}
    <a href="{{ path('channel_show', {'slug': channel.slug})}}" title="{{ 'channels.enter_chat_of' | trans({'%name%': channels[i].name}, 'Channels') }}">{{ 'channels.more' }} ...</a>
</div>