{% trans_default_domain 'User' %}

<div class="profile-user-info" data-behat="profile">
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.username" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ user.username }}</span>
		</div>
	</div>
	{% if user.city %}
	<div class="profile-info-row" data-behat="profile-row">

		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.location" | trans }} </div>
		<div class="profile-info-value" data-behat="profile-row-value">
            <i class="fa fa-map-marker light-orange bigger-110"></i> &nbsp;
            {% if user.city != "no_city" %}
				<span> {{ user.city.name }} {% if user.city.country != 'not-country' %} , {{ user.city.country }} {% endif %}</span>
			{% else %}
				<span>{{ user.city.country }}</span>
			{% endif %}
		</div>
	</div>
	{% endif %}
	{% if user.profile %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.age" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{"now" |date("Y") - user.profile.birthday | date("Y")}}</span>
		</div>
	</div>
	{% if user.profile.gender %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.gender" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ ('user.profile.gender.'~user.profile.gender) | trans() }}</span>
		</div>
	</div>
	{% endif %}
	{% if user.profile.about %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.about_me" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ user.profile.about }}</span>
		</div>
	</div>
	{% endif %}
	{% if user.profile.youWant %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.you_want" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ user.profile.youWant }}</span>
		</div>
	</div>
	{% endif %}
	{% if user.lastLogin %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.last_online" | trans }} </div>
	
		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ user.lastLogin | date }}</span>
		</div>
	</div>
	{% endif %}
	{% if user.profile.seeking %}
	<div class="profile-info-row" data-behat="profile-row">
		<div class="profile-info-name" data-behat="profile-row-name"> {{ "user.i_am_seekinmg" | trans }} </div>

		<div class="profile-info-value" data-behat="profile-row-value">
			<span>{{ ('user.profile.seeking.'~user.profile.seeking) | trans() }}</span>
		</div>
	</div>
	{% endif %}
{% endif %}
</div>