       
     <div class="col-xs-12 center">
		<span class="profile-picture">
		<div style="position: relative; left: 0; top: 0;" data-js-field="image">
			{% if app.user and app.user.id == user.id %}
				<a href="{{ path('chatea_client_update_profile_photo') }}">
			{% endif %}
				{% if user.profilePhoto %}
					<img style="position: relative; top: 0; left: 0;" class="editable img-responsive" alt="{{ user.username | capitalize }}" id="avatar2" src="{{ user | userProfilePhotoUrl("medium") }}">
				{% else %}
					{% image '@ApiSocialBundle/Resources/public/images/no-photo-medium.png'  output="images/no-photo-medium.png" %}
						<img style="position: relative; top: 0; left: 0;" class="editable img-responsive" alt="{{ user.username | capitalize }}" id="avatar2" src="{{ asset_url }}">
					{% endimage %}
				{% endif %}
			{% if app.user and app.user.id == user.id %}
			</a>
			{% endif %}
			{# begin badge account validated #}
			{% if user.enabled %}
				<div data-js-id="userBadge">
					<i style="position: absolute; top: 80%; left: 80%;" class="fa fa-check-circle-o fa-3x blue" data-toggle="tooltip" data-placement="right" data-behat="account-verified" title="{{ "user.account-verified" | trans }}"></i>
				</div>

			{% endif %}
			{# end badge account validated #}
		</div>
		
		</span>

		<div class="space space-4"></div>

{# 		<a href="{{ path('ant_user_register') }}" class="btn btn-sm btn-block bWtn-success">#}
{# 			<i class="icon-plus-sign bigger-120"></i>#}
{# 			<span class="bigger-110">{{ "Add as a friend" | trans }}</span>#}
{# 		</a>#}

		{# <a href="{{ path('_antwebes_chateaclient_login', {'redirect': path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }) }}" class="btn btn-sm btn-block btn-primary"> #}


	</div>