{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'User' %}

{% block header_no_index %} 
	{% if (affiliate_id is defined) and (affiliate_id is not null) and (user.client.affiliate.id != affiliate_id) %}
		<meta name="robots" content="noindex"> 
	{% endif %}
{% endblock header_no_index %}

{% block head_css %}
	{{ parent() }}
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
	{% stylesheets 
            "@ApiSocialBundle/Resources/public/css/custom.css" 
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock head_css %}

{% block head_meta_description %}{% include 'ApiSocialBundle:User:Show/meta/description.html.twig' with {'user': user} %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:User:Show/meta/keywords.html.twig' with {'user': user} %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:User:Show/meta/title.html.twig' with {'user': user} %}{% endblock %}

{% block chatea_body %}

    {% include "ApiSocialBundle:User:_user_tabs.html.twig" %}
<br/><br/><br/>
    <div class="row">
	<div class="col-xs-12 col-sm-3">
		{% include 'ApiSocialBundle:User:Show/_usersSidebar.html.twig' with {'user': user} %}
	</div>
	<div class="col-xs-12 col-sm-9">
		<h1 class="blue">{{ "user.profile_of" | trans({'%username%': user.username | capitalize}) }}</h1>
		{% include "ApiSocialBundle:User:Show/_info_profile.html.twig" %}
		{% if (app.user and app.user.id != user.id) or not app.user%}
	        {% include "ApiSocialBundle:Chat:Common/chat_user_button.html.twig" with {"user": user} %}
	    {% else %}
	        <a href="{{ path('chatea_client_update_profile_index') }}" data-behat="edit_profile" class="btn btn-primary" title="{{ 'user.edit_profile' | trans({}, 'messages') }}">{{ 'user.edit_profile' | trans({}, 'messages') }}</a>
		{% endif %}
	</div>
</div>

<div class="row">
	{% if app.user and user.id == app.user.id %}
		{% include '@ApiSocial/Visit/_widgetVoyeur.html.twig' with {'user': user, 'limit': true, 'expand': true} %}
		{% render controller("ApiSocialBundle:Visit:renderWidgetUserVisitors", {'user': user, 'limit': true, 'expand': true}) %}
	{% endif %}
</div>

{# Begin list channels of user  #}
<div class="row">
	<div class="page-header">
		<h1>{{ 'user.chats' | trans({'%username%': user | capitalize}) }}</h1>
	</div>
        {# Begin list channels  #}
       	<div class="col-xs-12" data-behat="channels">
			{{ include ('ApiSocialBundle:User:Channel/_cover_channels.html.twig' , {'text' : 'user.owner_of_channels' | trans, 'icon' :'fa-trophy', 'list': 'owner', 'has_channels': user.channels | length > 0} ) }}
	        {% include 'ApiSocialBundle:User:Channel/_channel_list.html.twig' with {'channels': user.channels, 'class_margin':'margin-bottom:15%;', 'limit': 6} %}
        </div>
		{# End list channels  #}
		{# Begin list channels_moderator  #}
        <div class="col-xs-12" data-behat="channels_moderator">
            {{ include ('ApiSocialBundle:User:Channel/_cover_channels.html.twig' , {'text' : 'user.moderator_of_channels' | trans , 'icon' :'fa-gavel', 'list': 'moderator', 'has_channels': user.channelsModerated | length > 0} ) }}
            {% include 'ApiSocialBundle:User:Channel/_channel_list.html.twig' with {'channels': user.channelsModerated, 'class_margin':'margin-bottom:15%;','limit': 6} %}
        </div>
        {# End list channels_moderator  #}
        {# Begin list channels_fan  #}
        <div class="col-xs-12" data-behat="channels_fan">
        {{ include ('ApiSocialBundle:User:Channel/_cover_channels.html.twig' , {'text' : 'user.fan_of_channels' | trans , 'icon' :'fa-star', 'list': 'fan', 'has_channels': user.channelsFan | length > 0} ) }}
        {% include 'ApiSocialBundle:User:Channel/_channel_list.html.twig' with {'channels': user.channelsFan, 'class_margin':'margin-bottom:15%;','limit': 6} %}
        </div>
        {# End list channels_fan  #}
</div>
{# End List channels of user  #}
{% endblock %}

{% block body_js_end %}
{{ parent() }}
{# js to jquerylazyload#}
	{% javascripts'@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
   	{% endjavascripts %}


    {% if app.user and user.id == app.user.id %}
        {% javascripts '@ApiSocialBundle/Resources/public/js/user_voyeur.js' %}
        <script src="{{ asset(asset_url) }}"></script>
        {% endjavascripts %}
        <script type="text/javascript">
            //config for configUserVoyeur
            var configUserVoyeur = {
                api_endpoint: '{{ api_endpoint }}',
                resource_route: '/api/users/{{ user.id }}/voyeur',
                token: '{{ app.user.accessToken }}',
                {% image '@ApiSocialBundle/Resources/public/images/no-photo-icon.png'  output="images/no-photo-icon.jpg" %}
                noPhotoSource : '{{ asset_url }}',
                {% endimage %}
                limit: '{{ voyeur_limit }}',
                showUserPath: '{{ path('ant_user_user_show_by_name', {'username': '{param}'}) }}',
                access_pretty: "{{ access_pretty_bundle }}"
            };

            $( document ).ready(function() {
                findUserVoyeur(configUserVoyeur );
            });

        </script>
    {% endif %}

{% include "ApiSocialBundle:User:Visit/incrementUserview.html.twig" %}
{% include "ApiSocialBundle:Common:lazyload.html.twig" %}
{% include "ApiSocialBundle:Chat:Common/_user_chat_button_js.html.twig" %}

{% endblock %}
