{% trans_default_domain 'Channels' %}

{% if not channel.isEnabled() %}<div class="alert alert-danger">{{ 'channels.not_moderated_yet' }}</div>{% endif %}

<div class="row" id="channelInfo">
    <div class="col-xs-3 col-sm-offset-2">
        <h4 class="col-sm-offset-2 col-xs-12 blue">
            <span class="middle">{% trans %}Owner{% endtrans %}</span>
        </h4>
        <div class="profile-users founderBox">
            {% include 'ApiSocialBundle:User:Show/_userListItem.html.twig' with {'user': channel.owner} %}
        </div>
    </div>

    <div class="col-xs-9 col-sm-7">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#info" role="tab" data-toggle="tab">{{ 'channels.info' | trans }}</a></li>
            <li><a href="#details" role="tab" data-toggle="tab">{{ 'channels.details' | trans }}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="info">

                <div class="profile-info-row">
                    <div class="profile-info-name"> {{ "channels.description" | trans }} </div>

                    <div class="profile-info-value">
                        <span>{% if channel.description %}{{ channel.description }}{% else %}{{ "channels.none" | trans }}.{% endif %}</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> {{ "channels.type" | trans }} </div>

                    <div class="profile-info-value">
                        {% if channel.getChannelType %}
                            <strong id="channel_type"><a href="{{ path('channel_list') }}?filter=channelType={{ channel.getChannelType.name }}">{{ channel.getChannelType.name }}</a></strong>
                        {% else %}
                            <strong id="channel_type">{{ "channels.none" | trans }}</strong>
                        {% endif %}
                    </div>
                </div>
                {% if channel.publicatedAt %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ "channels.created_at" | trans }} </div>

                        <div class="profile-info-value">
                            <span>{{ channel.publicatedAt | date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if channel.language %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ "channels.language" | trans }} </div>

                        <div class="profile-info-value">
                            <span>{{ channel.language }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="tab-pane" id="details">

                {% if channel.expiredAt %}
                    <div class="profile-info-row">
                        <div class="profile-info-name">{% if channel.isExpired %} {{ "channels.expired_at" | trans }}{% else %} {{ "channels.will_expire_at" | trans }} {% endif %}</div>

                        <div class="profile-info-value">
                            <span>{{ channel.expiredAt | date }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if channel.isExpired %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ "channels.is_expired" | trans }} </div>

                        <div class="profile-info-value">
                            <span>{{ "channels.is_expired_large" | trans }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if channel.lastVisit %}
                    <div class="profile-info-row">
                        <div class="profile-info-name"> {{ "channels.last_visit" | trans }} </div>

                        <div class="profile-info-value">
                            <span>{{ channel.lastVisit | date }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>