{% trans_default_domain 'User' %}
<div class="row">
	<div class="cover shadow_all">
		<div class="col-xs-2 border-right ">
			{% if photo_with_link is defined and photo_with_link %}
				<a href="{{ path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }}" alt="{{ user.username }}"  title="{{ user.username }}">
			{% endif %}
			{% if user.profilePhoto %}
				<img class="pull-left img-circle editable img-responsive" alt="{{ user.username | capitalize }}" id="avatar2" src="{{ user | userProfilePhotoUrl("small") }}" title="{{ user.username}}">
			{% else %}
				{% image '@ApiSocialBundle/Resources/public/images/no-photo-small.png'  output="images/no-photo-medium.png" %}
					<img class="pull-left img-circle editable img-responsive" alt="{{ user.username | capitalize }}" id="avatar2" src="{{ asset_url }}">
				{% endimage %}
			{% endif %}
			{% if photo_with_link is defined and photo_with_link %}
				</a>
			{% endif %}
		</div>
		<div class="col-xs-10">
			<div class="pull-left">
				<p class="lead"> <i class="fa {{ icon }}"></i> <span data-behat="{{ list }}"> {{ text | trans() }}</span>  </p> 
				{% if hide_subtitle is not defined or not hide_subtitle %}
				<p>
					{% if has_channels  %}
						{# List all channels #}
						<a href="{{ path('user_channel_list', {'userId': user.id, 'list':list}) }}"><p>{{ 'user.list_all_channels'  | trans }}</p></a>
					{% else %}
						{# There are no chat rooms #}
						{{ "user.no_chat_rooms" | trans }}
					{% endif %}
				</p>
				{% endif %}
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>