{% extends "ApiSocialBundle:Channel:layout_channel.html.twig" %}

{% trans_default_domain 'Channels' %}

        {% block head_css %}
        	{{ parent() }}
            {% stylesheets 
              "@ApiSocialBundle/Resources/public/css/main_social.css"
               %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        {% endblock %}

{% block body_container_center %}

    {% set urlcanonical = url('channel_show', {'slug': channel.slug}) %}

    <h1 class="title">{{ "channels.free_chat_rooms" | trans({'%name%': channel.name}) }}</h1>
    {{ render(controller('ApiSocialBundle:Channel:renderBreadcrumb', {'channel':  channel })) }}
    <br /><br />
    <div class="col-xs-12">
        {#
        Remove chat form
        <div class="row">
            <div class="col-sm-2 col-lg-2"></div>
            <div class="col-xs-12 col-sm-8 col-lg-8 wellchatea chatBox">
                {% include "ApiSocialBundle:Chat:widget.html.twig" with { "channel": channel } %}
            </div>
        </div>
        #}


        {% include 'ApiSocialBundle:Channel:_info.html.twig' with {'channel': channel} %}

        {% if has_chat %}
            {% if not chat_url %}
            <a class="btn btn-primary" disabled="disabled" id="chatBtnConnect" title="{{ channel.name }}">
                {#<a title="{{ channel.name }}" href="{{ path('ant_chat_chat_show') }}?channel={{ channel.ircChannel}}{% if app.user is not null %}&nick={{  app.user.username}}{% endif %}">{% endif %}#}
                {% else %}
                <a class="btn btn-primary" disabled="disabled" id="chatBtnConnect" title="{{ channel.name }}">
            {% endif %}
        {% endif %}

        {# if this chat room has content of chatsfree, we include in the page #}
        {#{% if meta is not null and meta.content %}
            <h2>Description <small>description and use of this chat room</small></h2>
            <p>{{ meta.content }}</p>
        {% endif %}#}

        {% if channel.children | length > 0 %}
            <div class="page-header"><h3>{{ "channels.childrens" | trans}} <small>{{ 'channels.all_chat_rooms_of' | trans({'%name%': channel.name}) }}</small></h3></div>
            {% include 'ApiSocialBundle:Channel:_list.html.twig' with {'channels' : channel.children, 'columnClass': 'col-xs-2' } %}
        {% endif %}
    </div>
{% endblock body_container_center %}

{% block body_container_right %}
    <div id="channelsSidebar">
        {% include 'ApiSocialBundle:Channel:_sidebar.html.twig' with {'channel': channel} %}
    </div>
{% endblock body_container_right%}

{% block body_js_end %}
    {{ parent() }}

    <script>
        newChatButton("{{ channel.ircChannel }}", "{% if not chat_url %}{{ path('ant_chat_chat_show', {channel: channel.ircChannel } )}}{% else %}{{chat_url}}?channel={{ channel.ircChannel  | url_encode}}{% if app.user is not null %}&nick={{  app.user.username}}{% endif %}{% endif %}");
    </script>

    {% include "ApiSocialBundle:Common:incrementChannelview.html.twig" %}
{% endblock %}