<form id="advanced_search_form" action="{{ path('ant_user_user_users') }}" method="get">
    <div class="form-group">
        <label class="col-lg-3 control-label" for="ountry">{{ "form.country" | trans({}, 'User') }}</label>
        <div class="col-lg-9">
            <select class="form-control" id="form_search_country" name="advanced_search[country]" data-city-finder="search_country">
                {% for country in countries %}
                    <option value="{{ country.value }}" {% if country.value == selectedCountry %}selected{% endif %}>{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-3 control-label" for="ountry">{{ "form.label.gender" | trans({}, 'UserRegistration') }}</label>
        <div class="col-lg-9">
            <select class="form-control" id="form_search_gender" name="advanced_search[gender]">
                <option value=""></option>
                <option value="Male" {% if selectedGender == 'Male' %}selected{% endif %}>{{ 'form.gender.male' | trans({}, 'User') }}</option>
                <option value="Female" {% if selectedGender == 'Female' %}selected{% endif %}>{{ 'form.gender.female' | trans({}, 'User') }}</option>
                <option value="Other" {% if selectedGender == 'Other' %}selected{% endif %}>{{ 'form.gender.other' | trans({}, 'User') }}</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-offset-10 col-sm-2">
            <button class="btn">
                {{ 'button.search'|trans }}
            </button>
            <button value="cancel" class="btn" id="button_advanced_search_clear" type="button">
                {{ 'button.clean' | trans }}
            </button>
        </div>
    </div>
</form>

{% javascripts
'@ApiSocialBundle/Resources/public/js/jquery-1.10.2.min.js'
%}
<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}

<script>
    $(document).ready(function(){
        $('#button_advanced_search_clear').click(function(){
            $('#form_search_country, #form_search_gender').val('');
            window.location.href = $('#advanced_search_form').attr('action');
        });
    });
</script>