{% trans_default_domain 'User' %}

<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
    <a href="{{ photo | photoUrl("large") }}" itemprop="contentUrl" data-size="600x400">
        <img src="{{ photo | photoUrl("medium") }}" itemprop="thumbnail" alt="Image description" />
    </a>
    <figcaption itemprop="caption description">
        {{ photo.title }}
        {% if showVoteButtons %}
            <table class="vote_table">
                <tr>
                    <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
                </tr>
                <tr>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="1">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="2">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="3">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="4">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="5">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="6">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="7">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="8">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="9">
                    </td>
                    <td>
                        <input type="radio" class="vote_option photo_{{ photo.id }}" data-user="{{ app.user.id }}" data-photo="{{ photo.id }}" name="value" value="10">
                    </td>
                </tr>
            </table>
        {% endif %}
        <div> {{ "user.photos.votes" | trans }}: <span class="number_votes_photo_{{ photo.id }}">{{ photo.numberVotes }}</span> {{ "user.photos.score" | trans }}: <span class="score_photo_{{ photo.id }}">{{ photo.score }}</span> </div>
        <span class="error_votes_photo_{{ photo.id }} text-danger"></span>
        <br/>
        <br/>
        <a href="{{ path('ant_user_user_photo_report', {'idUser': user.id, 'id': photo.id}) }}" class="btn btn-danger">{{ "user.photos.report.title" | trans }}</a>
    </figcaption>
</figure>