{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'User' %}

{% block head_meta_description %}{% include 'ApiSocialBundle:Show:meta/description.html.twig' with {'user': user} %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:Show:meta/keywords.html.twig' with {'user': user} %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:Show:meta/title.html.twig' with {'user': user} %}{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    {% stylesheets 
            "@ApiSocialBundle/Resources/public/css/custom.css" 
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock head_css %}

{% block chatea_body %}
    <div class="container">
        <ul class="nav nav-tabs padding-18">
            <li>
                <a href="{{ path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }}">
                    <i class="green fa fa-user bigger-120" ></i>
                    {{ 'user.profile' | trans }}
                </a>
            </li>
            <li class="active">
                <a href="{{ path('ant_user_user_photos_show', {'id': user.id}) }}">
                    <i class="pink fa fa-picture-o bigger-120"></i>
                    {{ "user.pictures" | trans }}
                </a>
            </li>
        </ul>
        <br/><br/><br/>
        <div class="row-fluid">
            <h2>{{ "user.photos_of_user" | trans({'%username%': user.username}) }}</h2>
            <ul class="ace-thumbnails" data-behat="photos">
                {% for photo in photos %}
                    <li class="col-xs-4 col-lg-2">
                        <a href="{{ path('ant_user_user_photo_show', {'idUser': user.id, 'id': photo.id }) }}">
                            <img class="lazy img-responsive" data-original="{{ photo | photoUrl("medium") }}" height="250px">
                        </a>
                    </li>
                {% else %}
                    {% if app.user.isValidated %}
                        {{ "user.photos.has_not" | trans() }}
                    {% else %}
                        <div class="alert alert-warning">
                        {{ "user.photos.need_confirmate_account" | trans() }}.  <a href="{{ path('confirm_email') }}"> {{'user.activate_account_info' | trans }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <br style="clear:both;" />

    {% if app.user.isValidated %}
        {% include 'ApiSocialBundle:Common:pagination.html.twig' with {'pager': photos, 'route': 'ant_user_user_photos_show.page', 'routeIndex': 'ant_user_user_photos_show', 'routeParams': {'id': user.id}} %}
    {% endif %}
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% javascripts
    '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ApiSocialBundle:Common:lazyload.html.twig" %}
{% endblock %}