{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'User' %}

{% block head_meta_description %}{% include 'ApiSocialBundle:Show:meta/description.html.twig' with {'user': user} %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:Show:meta/keywords.html.twig' with {'user': user} %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:Show:meta/title.html.twig' with {'user': user} %}{% endblock %}

{% block chatea_body %}
    <div class="container">
        <ul class="nav nav-tabs padding-18">
            <li>
                <a href="{{ path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }}">
                    <i class="green fa fa-user bigger-120" ></i>
                    {{ 'user.profile' | trans }}
                </a>
            </li>
            <li class="active">
                <a href="{{ path('ant_user_user_photos_show', {'id': user.id}) }}">
                    <i class="pink fa fa-picture-o bigger-120"></i>
                    {{ "user.pictures" | trans }}
                </a>
            </li>
        </ul>
        <br/><br/><br/>
        <div class="row-fluid">
            <h2>{{ photo.title }}</h2>
            <img class="lazy img-responsive" data-original="{{ photo | photoUrl("medium") }}" height="250px">
        </div>
        <br/>
        <div class="row">
            <a href="{{ path('ant_user_user_photos_show', {id: user.id}) }}" class="btn btn-info btn-sm pull-left">
                {{ 'user.back' | trans }}
            </a>
        </div>
    </div>

{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% javascripts
    '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
    '@ApiSocialBundle/Resources/public/lightbox.js'
    %}
    <script src="{{ asset(asset_url) }}"></script>
    {% endjavascripts %}
    {% include "ApiSocialBundle:Common:lazyload.html.twig" %}
    {% include "ApiSocialBundle:Show:_photo_js.twig" %}
{% endblock %}