{% if search_placeholder is not defined %}
    {% set search_placeholder = 'form.members_search.min.length.message'  %}
{% endif %}
{% if search_min_length_message is not defined %}
    {% set search_min_length_message = 'search_min_length_message' %}
{% endif %}
{% if members_search_title_message is not defined %}
    {% set members_search_title_message = 'members_search_title_message' %}
{% endif %}

<div id="members-dir-search" class="dir-search" role="search">
    <form style="min-width: 60%;" action="" method="get" id="search-members-form">
        <label title="{{ 'form.members_search.min.length.message' | trans }}" >
            <input pattern=".{0}|.{3,}"
                   name="search"
                   id="members_search"
                   placeholder="{{ search_placeholder | trans }}" type="text" value="{{ search }}"
                   title="{{ members_search_title_message | trans }}"
                    >
        </label>
        <input id="members_search_submit" type="submit" value="{{ 'button.search' | trans }} "  >
        {% if enable_buton_clean is defined and enable_buton_clean == true  %}
            <button value="cancel" class="btn" data-id="button_search_clear" type="button">
                {{ 'button.clean' | trans }}
            </button>
        {% endif %}
    </form>
</div>