
{% if (app.user) and ( app.user.validated == true) %}
    var notificationText = '{{ 'user.no_city' | trans({}, 'Notifications') }} <a href="{{ path('chatea_client_update_profile_city') }}" data-js="notification_edit_city">{{ 'user.edit_city' | trans({}, 'UserChange') }}</a>';
    notifyIfUserHasNoCity({{  app.user.id }}, '{{ api_endpoint }}', '{{ app.user.accessToken }}', notificationText);

    var notificationText = '{{ 'user.no_profile_photo' | trans({}, 'Notifications') }} <a href="{{ path('chatea_client_update_profile_photo') }}" data-js="notification_edit_photo_profile">{{ 'user.edit_profile_photo' | trans({}, 'UserRegistration') }}</a>';
    notifyIfUserHasNoProfilePhoto({{  app.user.id }}, '{{ api_endpoint }}', '{{ app.user.accessToken }}', notificationText);

    var notificationText = '{{ 'user.photo_with_votes' | trans({}, 'Notifications') }} <a href="{{ path('user_vote') }}" data-js="notification_user_photos"> {{ "user.notifications.go_to_vote_photos" | trans({}, 'User') }}</a>';
    notifyPhotoWithMostPhotos({{  app.user.id }}, '{{ api_endpoint }}', '{{ app.user.accessToken }}', notificationText);
{% endif %}

$('[data-js=notification_edit_city]').on('click', function(){
	sendEvent('notifications', 'click', 'edit_city');
});

$('[data-js=notification_edit_photo_profile]').on('click', function(){
	sendEvent('notifications', 'click', 'upload_photo_profile');
});

$('[data-js=notification_user_photos]').on('click', function(){
	sendEvent('notifications', 'click', 'vote_photos');
});