{#
this macros returns active if the current route matches the given routes and the class to add

routes can be an array of routs or a sigle string
#}
{% macro addActiveClassIfCurrent(routes, class) %}
    {% if not routes is iterable %}
        {% set routes = [routes] %}
    {% endif %}

    {% if app.request.attributes.get('_route') in routes %}{{ class }}{% endif %}
{% endmacro %}

{% trans_default_domain 'User' %}

{# macros need to be imported, so lets import ourselfs #}
{% import _self as mh %}

<ul class="nav nav-tabs padding-18">
    <li class="{{ mh.addActiveClassIfCurrent('ant_user_user_show', 'active') }}">
        <a href="{{ path('ant_user_user_show', {'user_id': user.id, 'username': user.usernameCanonical}) }}">
            <i class="green fa fa-user bigger-120" ></i>
            {{ 'user.profile' | trans }}
        </a>
    </li>
    <li class="{{ mh.addActiveClassIfCurrent(['ant_user_user_photos_show', 'ant_user_user_photo_show'], 'active') }}">
        <a href="{{ path('ant_user_user_photos_show', {'id': user.id}) }}">
            <i class="pink fa fa-picture-o bigger-120"></i>
            {{ "user.pictures" | trans }}
        </a>
    </li>
    <li class="{{ mh.addActiveClassIfCurrent('ant_user_user_message', 'active') }}">
        <a href="{{ path('ant_user_user_message', {'id': user.id}) }}">
            <i class="blue fa fa-envelope bigger-120"></i>
            {{ "user.write_message" | trans }}
        </a>
    </li>
</ul>