<div class="col-xs-12">
	{% for channel in channels | slice(0, limit) %}
	{% if loop.index is not odd %}
		<div class="row">
	{% endif %}
	
	<div class="col-md-6 col-xs-12 timeline-cover" >
		<div class="widget shadow_bottom_left">	
			<div class="widget-body">
				<div class="media">
					<div class="pull-left">
						<a href="{{ path('channel_show', {'slug': channel.slug})}}">				
						{% if channel.photo %}
                                <img style="display: block;" src="{{ channel | channelPhotoUrl('small') }}" class="img-rounded img-responsive lazy" data-original="{{ channel | channelPhotoUrl('small') }}" alt="{{ channel.name }}" width="100px" height="100px">
                            {% else %}
                                {% image '@ApiSocialBundle/Resources/public/images/no-photo-chatroom.jpg'  output="images/no-photo-chatroom.jpg" %}
                                    <img style="display: block;" class="img-rounded img-responsive lazy" data-original="{{ asset_url }}" alt="{{ channel.name }}" width="100px" height="100px">
                                {% endimage %}
                            {% endif %}
						</a>
					</div>
					<div class="media-body">
						<h4><a href="{{ path('channel_show', {'slug': channel.slug})}}"><span data-behat="name-channel">{{ channel.name }}</span></a></h4>
						<div class="clearfix"></div>
						<p>{{ channel.description | truncate(70) }}</p>
							{{ include ("ApiSocialBundle:Chat:button.html.twig", {'channel': channel, 'message': 'Enter chat room', 'class_button': 'btn btn-info btn-sm pull-left'}) }}
							<div class="hidden-xs pull-right">
			            		{% for fan in channel.fans(4, {'has_profile_photo':'1'}) %}
			            			{% if fan.profilePhoto %}
			            				<a href="{{ path('ant_user_user_show', {'user_id': fan.id, 'username': fan.usernameCanonical}) }}" alt="{{ fan.username }}"  title="{{ fan.username }}">
											<img src="{{ fan.profilePhoto.pathIcon }}" alt="" class="innerR innerB half">
										</a>
									{% endif %}
								{% endfor %}
			            	</div>
					</div>
				</div>
			</div>	
			<div>
				<ul class="navigation">
					<li><i class="fa fa-bar-chart-o"></i><span>&nbsp; {{ channel.CountVisits }} Visits</span></li>
					<li><i class="fa fa-users"></i><span>&nbsp; {{ channel.numberFans }} Fans</span></li>
					{% if channel.getChannelType is not null %}
						<li><a title="{{ "See all chat room of same type" | trans }}" href="{{ path('channel_list') }}?filter=channelType={{ channel.getChannelType.name }}"><i class="fa fa-random"></i><span>&nbsp; {{ channel.channelType }}</span></a></li>
					{% endif %}
					<li class="hidden-xs pull-right"><i class="fa fa-user"></i> Fans <span> {{ channel.owner}}</span></li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	{% if loop.index is not odd %}
		</div>
	{% elseif loop.last %}
		</div>
	{% endif %}
	{% endfor %}
</div>
