{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% trans_default_domain 'User' %}

{% block head_meta_description %}{% include 'ApiSocialBundle:Show:meta/description.html.twig' with {'user': user} %}{% endblock %}
{% block head_meta_keywords %}{% include 'ApiSocialBundle:Show:meta/keywords.html.twig' with {'user': user} %}{% endblock %}
{% block head_title %}{% include 'ApiSocialBundle:Show:meta/title.html.twig' with {'user': user} %}{% endblock %}

{% block header_no_index %}
		<meta name="robots" content="noindex">
{% endblock header_no_index %}

{% block head_css %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    {% stylesheets
    "@ApiSocialBundle/Resources/public/css/custom.css"
    "@ApiSocialBundle/Resources/public/css/messages.css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock head_css %}

{% block chatea_body %}
    <div class="container">
        {% include "ApiSocialBundle:User:_user_tabs.html.twig" %}
        <br/><br/><br/>
        <div class="row-fluid">
            <div id="body_container_main"></div>
        </div>
    </div>
{% endblock %}

{% block body_js_end %}
    {{ parent() }}
    {% include "ApiSocialBundle:Common:_socialjscommon.html.twig" %}
    <script>
        require(["app"],function(App){
            App.vent.on('socialapp:loaded', function (){
                App.trigger('messages:compose', "{{ user.username }}", true);
            });
            App.start({ lang: "{{ app.request.getLocale() }}" });
        });
    </script>
{% endblock %}
