{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block header_no_index %} 
	{% if (affiliate_id is defined) and (affiliate_id is not null) and (user.client.affiliate.id != affiliate_id) %}
		<meta name="robots" content="noindex"> 
	{% endif %}
{% endblock header_no_index %}

{#
{% block head_meta_description %}{% include 'UserBundle:Show:meta/description.html.twig' with {'user': user} %}{% endblock %}
{% block head_meta_keywords %}{% include 'UserBundle:Show:meta/keywords.html.twig' with {'user': user} %}{% endblock %}
{% block head_title %}{% include 'UserBundle:Show:meta/title.html.twig' with {'user': user} %}{% endblock %}
#}

{% block chatea_body %}
<ul class="nav nav-tabs padding-18">
	<li class="active">
		<a data-toggle="tab" href="#home">
			<i class="green fa fa-user bigger-120" ></i>
			Profile
		</a>
	</li>
	<li>
		<a href="{{ path('ant_user_user_photos_show', {'id': user.id}) }}">
			<i class="pink fa fa-picture-o bigger-120"></i>
			{{ "Pictures" | trans }}
		</a>
	</li>
</ul>
<br/><br/><br/>
<div class="row">
	<div class="col-xs-12 col-sm-3">
		{% include 'ApiSocialBundle:User:_usersSidebar.html.twig' with {'user': user} %}
	</div>
	<div class="col-xs-12 col-sm-9">
		<h1 class="blue">{{"Profile of" | trans}} {{ user.username | capitalize }}</h1>
		{% include "ApiSocialBundle:User:_info_profile.html.twig" %}
	</div>
</div>

{# Begin list channels of user  #}
<div class="row">
	<div class="page-header">
		<h1>{{ user | capitalize }}'s Chats</h1>
	</div>
        {# Begin list channels  #}
       	<div class="col-xs-12" data-behat="channels">
			{{ include ('ApiSocialBundle:User:_cover_channels.html.twig' , {'text' : 'Owner of channels', 'icon' :'fa-trophy', 'list': 'owner', 'has_channels': user.channels | length > 0} ) }}
	        {% include 'ApiSocialBundle:User:channel_list.html.twig' with {'channels': user.channels, 'class_margin':'margin-bottom:15%;', 'limit': 6} %}
        </div>
		{# End list channels  #}
		{# Begin list channels_moderator  #}
        <div class="col-xs-12" data-behat="channels_moderator">
            {{ include ('ApiSocialBundle:User:_cover_channels.html.twig' , {'text' : 'Moderator of channels' , 'icon' :'fa-gavel', 'list': 'moderator', 'has_channels': user.channelsModerated | length > 0} ) }}
            {% include 'ApiSocialBundle:User:channel_list.html.twig' with {'channels': user.channelsModerated, 'class_margin':'margin-bottom:15%;','limit': 6} %}
        </div>
        {# End list channels_moderator  #}
        {# Begin list channels_fan  #}
        <div class="col-xs-12" data-behat="channels_fan">
        {{ include ('ApiSocialBundle:User:_cover_channels.html.twig' , {'text' : 'Fan of channels' , 'icon' :'fa-star', 'list': 'fan', 'has_channels': user.channelsFan | length > 0} ) }}
        {% include 'ApiSocialBundle:User:channel_list.html.twig' with {'channels': user.channelsFan, 'class_margin':'margin-bottom:15%;','limit': 6} %}
        </div>
        {# End list channels_fan  #}
</div>
{# End List channels of user  #}

{% endblock %}

{% block body_js_end %}
{{ parent() }}
{# js to jquerylazyload#}
	{% javascripts
	            '@ApiSocialBundle/Resources/public/js/jquery/jquery.lazyload.min.js'
            %}
		<script src="{{ asset(asset_url) }}"></script>	
   	{% endjavascripts %}
{% include "ApiSocialBundle:Common:lazyload.html.twig" %}
{% endblock %}
